NEXT_PUBLIC_SITE_URL=https://www.traintorehab.com
STRIPE_SECRET_KEY=sk_live_...
STRIPE_WEBHOOK_SECRET=whsec_...
MAKE_WEBHOOK_URL=https://hook.eu2.make.com/...

STRIPE_PRICE_RESTART_MONTHLY=price_...
STRIPE_PRICE_PERFORM_AUTONOME_MONTHLY=price_...
STRIPE_PRICE_PERFORM_AUTONOME_6_MONTHS=price_...
STRIPE_PRICE_PERFORM_AUTONOME_12_MONTHS=price_...
STRIPE_PRICE_PERFORM_COACHING_MONTHLY=price_...
STRIPE_PRICE_PERFORM_COACHING_6_MONTHS=price_...
STRIPE_PRICE_PERFORM_COACHING_12_MONTHS=price_...
